@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Poppins:wght@300;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  font-weight: 600;
}

input {
  height: 3rem;
  margin: 0 0 .5rem 0;
  background-color: #dce3f1;
  border-radius: 5px;
  border: 2px solid transparent;
  padding-left: .5rem;
}

input:focus {
  outline: none;
  border: 2px solid #bcccec;
}

p {
  margin: 0;
}

.error {
  color: #ef5e5e;
  font-size: 0.9rem;
}

button {
  width: 10rem;
  height: 3rem;
  color: white;
  border-radius: 5px;
  border: 2px solid #6fa2ff;
  cursor: pointer;
  outline: none;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: #4b80e0;
}

button:hover {
  background-color: #3767bd;
}